QMainWindow{background-image:url(:/backs/images/fx/low_contrast_linen_2X.png)}
QToolBar,#head {	background-color: qlineargradient(spread:reflect, x1:1, y1:1, x2:1, 
	y2:0, stop:0 rgba(200, 200, 200, 180), stop:1 rgba(228, 228, 228, 
	215));}
#top QLabel{
	color:#555;}
#titulo{
	font-size:18px; font-weight:bold;color:#fff;}
#csCliente{ border:1px solid #4D4D4D; background:#BFBFBF;padding:5px;color:#FFF; margin-bottom:5px;border-radius:7px}

.QSplitter{background:transparent;}
#gingreso,#csCliente,#topBusca,#topReportes,#top{
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(200, 200, 200, 
	180), stop:1 rgba(150, 150, 150, 180));color:#fff;border:0px;} 
#gingreso QLabel,#topBusca QLabel,#topReportes QLabel,#topReportes #tbTitulo{ 
	color:#fff}
#gingreso QLineEdit {
	background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(150, 150, 150, 255), stop:0.084833 rgba(255, 255, 255, 255), stop:1 rgba(250, 250, 250, 255));padding:4px; border-radius:4px;border:1px solid #5D909E}
#wResumen{
	background:rgba(150, 150, 150, 180);}
#wResumen #dsbCambio{	color:#C1220E;}
#lista2,#resumen1,#wIndex,#tbusk{
	background-color: #CBDFE6;selection-background-color:#F6F096; alternate-background-color:#BED5DC;color:#333;border:1px solid #999;border-top:#3F818D;}
#lpinfo QLabel{color:#333;}
#tabla{border:0px;}
 #resumen{ background:none; }
#wLetreros QLabel{color:#efefef}

QPushButton{color: #576878;border-radius:9px;  border:1px solid  #bbb;background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(216, 216, 216, 255), stop:0.495455 rgba(229, 229, 229, 255), stop:1 rgba(255, 255, 255, 255));padding:4px}
QPushButton::hover{ color:#ffffff;background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(149, 149, 149, 255), stop:0.495455 rgba(156, 156, 156, 255), stop:1 rgba(214, 214, 214, 255));}
QAction{ background:#003377;border:solid #bbb 1px;}
#head QToolButton{margin:3px;color:#eee;font-weight:500; font-size:10px;}
#head QToolButton:hover{background: rgba(255, 255, 255,0);color:#fff;border:0px #555 solid;border-radius:5px;}
#tabla,QTableView QTableCornerButton::section{ background-color: #F3F3DB;selection-background-color:#F6F096; alternate-background-color:#F0F0C9;color:#246;} 
 QDialog{ background:qlineargradient(spread:pad, x1:1, y1:1, x2:0.995, y2:0.011, stop:0  #bfbfbf, stop:1 #e5e5e5);color:#fff}
 
#Promo{background:#fff;color:#CD150F; font-weight:700;}

#admin QStackedWidget{ background:rgb(159,159,159)} QStackedWidget QLabel{color:#222;}
QDateEdit {padding:3 0 3 0;}
QDateEdit::down-arrow{image:url(:/actions/images/actions/black_18/calendar.png); border:0px; }
QDateEdit::drop-down{border:0;}



#admin QStackedWidget .QWidget  {background-color: qlineargradient(spread:reflect, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(159, 159, 159, 255), stop:1 rgba(203, 203, 203, 255));}
#admin QStackedWidget .QWidget QToolButton{background-color:transparent;
border:0px; padding:2px; border-radius:5px}
 QPushButton::disabled, QPushButton::disabled{color:#ccc}


#menu{background:#434648;background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0.0052356, stop:0.8 rgba(71, 71, 71, 255), stop:1 rgba(55, 55, 55, 255));border:0px; }
#menu QToolButton{color:#eee;border:0px; padding:10 5 10 0;}
#menu QToolButton::hover{background-color: qlineargradient(spread:reflect, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(0, 66, 255, 255), stop:1 rgba(0, 107, 227, 255));border:0px; color:#fff}

QHeaderView::section:horizontal{
	background-color: #1162A7;border:0;color:#C2D2D5;padding:8 3 8 3;}
QHeaderView{
	background-color: #1162A7;}
QTableView{ 
	selection-background-color:qlineargradient(spread:reflect, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(0, 66, 255, 255), stop:1 rgba(0, 107, 227, 255));alternate-background-color: #3F818D;border:0px;selection-color:#fff;} 
QLineEdit,QSpinBox,QDoubleSpinBox,QDateTimeEdit{
padding:2px;background:#fff;border-radius:4px;border:1px solid #999;background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(150, 150, 150, 255), stop:0.084833 rgba(255, 255, 255, 255), stop:1 rgba(255, 255, 255, 255));}
QMenu {
     background-color: white;
     margin: 5px; /* some spacing around the menu */
 }
#admin QMenu::item {
     padding: 2px 25px 2px 20px;
	 padding-left:30px;

     border: 1px solid transparent; /* reserve space for selection border */
 }

QMenu::item:selected { 
color:#fff;	background-color: qlineargradient(spread:reflect, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(0, 66, 255, 255), stop:1 rgba(0, 107, 227, 255));
 }
 QMenu::separator {
     height: 2px;
     background: lightblue;
     margin-left: 10px;
     margin-right: 5px;
 }
 QMenu::indicator {
 	 padding-left:5px;
     width: 13px;
     height: 13px;
 }
QSplitter QLabel,QSplitter QGroupBox{color:#fff;}
#frTablas{border:0px}

QLineEdit{padding-left:3px;margin:4px; border:2px solid  #888 ; border-radius:8px; background:#fff;}
QLineEdit {background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(150, 150, 150, 255), stop:0.084833 rgba(255, 255, 255, 255), stop:1 rgba(250, 250, 250, 255));padding:0px; border-radius:4px;border:1px solid #999
}

#footer{background-color:rgba(150, 150, 150, 180);}
