
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Pyventa
Type=Application
Terminal=false
Icon[es_MX]=/usr/share/pyventa/images/checador.png
Name[es_MX]=Checador de precios
Exec=pvcheck
Icon=/usr/share/pyventa/images/checador.png
