
QToolBar {background-color:qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(42, 129, 159, 255), stop:0.495455 rgba(25, 99, 114, 255), stop:0.507692 rgba(42, 118, 149, 255), stop:1 rgba(58, 159, 202, 255));}
QTabWidget{ border:solid 1.5px solid #333}

#titulo{font-size:18px; font-weight:bold;background-color: rgba(127, 191, 221,100);border: 2px solid rgb(42, 110, 139);border-radius:5px;}
#gingreso{background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(137, 137, 137, 255), stop:0.0545455 rgba(156, 156, 156, 255), stop:1 rgba(191, 191, 191, 255));color:#fff;border:1.5px solid #bbb;} 
QLineEdit{padding-left:3px;margin:4px; border:2px solid  #888 ; border-radius:8px; background:#fff;}
QLineEdit {background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(60, 60, 60, 255), stop:0.0730337 rgba(246, 246, 246, 255));border:1 solid rgb(158, 158, 158);border-radius:12;  color:#333;
}
/*#gingreso QLineEdit {background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0.00520833 rgba(251, 251, 251, 255), stop:0.84375 rgba(251, 251, 251, 255), stop:0.989583 rgba(205, 205, 205, 255), stop:1 rgba(251, 251, 251, 255));
border:1 solid rgba(255,255,255,100); padding:4;}*/
#lista2,#resumen1,#wIndex{background-color: #ccdde2;selection-background-color:#1E90FF;color:#333;}
#lista2 QListWidgetItem{selection-background:#1E90FF;}
#lpinfo QLabel{color:#fff;}#lpinfo{background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(38, 94, 142, 255), stop:1 rgba(54, 139, 178, 255));color:#fff; border:1px solid #125480;}
#tabla{border:1.2px inset #ebebeb; border-radius:4px;}
 #resumen{ background:none; }

QPushButton{color: #576878;border-radius:9px;  border:1px solid  #bbb;background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(216, 216, 216, 255), stop:0.495455 rgba(229, 229, 229, 255), stop:1 rgba(255, 255, 255, 255));padding:4px}
QPushButton::hover{ color:#ffffff;background-color: qlineargradient(spread:pad, x1:1, y1:1, x2:1, y2:0, stop:0 rgba(149, 149, 149, 255), stop:0.495455 rgba(156, 156, 156, 255), stop:1 rgba(214, 214, 214, 255));}
QAction{ background:#003377;border:solid #bbb 1px;}
QToolBar QToolButton{ margin:3px;color:#ddd;}
QToolBar QToolButton:hover{color:#fff;border:1px #00b2de solid;background: rgba(255, 255, 255,30);}
#tabla,QTableView QTableCornerButton::section{background: #e6e6fa; alternate-background-color: #fff;} 
 QDialog{ background:qlineargradient(spread:pad, x1:1, y1:1, x2:0.995, y2:0.011, stop:0  #bfbfbf, stop:1 #e5e5e5);color:#fff}
 

